<!-- Content Heading -->
 <% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<!-- Message Block (when needed) -->
<% messages() %>

<!-- Vehicle HTML -->
<%- vehicleHTML %>

<h2> Customer Reviews</h2>

<% if (reviews.length > 0) { %>
  <% reviews.forEach(review => { %>
    <div class="review">
      <p><strong>
        <%= review.first_name.charAt(0) + review.last_name %>
      </strong></p>
      <p><%= review.review_text %></p>
      <small>
        <%= new Date(review.review_date).toLocaleDateString() %>
      </small>
    </div>
  <% }) %>
<% } else { %>
  <p>No reviews yet.</p>
<% } %>


<% if (locals.loggedin) { %>
  <h3>Add a Review</h3>
  <form action="/review/add" method="post">
    <input type="hidden" name="inv_id" value="<%= vehicle.inv_id %>">

    <label>Rating</label>
    <select name="review_rating" required>
      <option value="5">5</option>
      <option value="4">4</option>
      <option value="3">3</option>
      <option value="2">2</option>
      <option value="1">1</option>
    </select>

    <label>Review</label>
    <textarea name="review_text" required></textarea>

    <button type="submit">Submit Review</button>
  </form>
<% } %>


